* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 98vw;
    min-height: 98vh;
    font-family: 'Poppins', sans-serif;
    color: white;

    background:
        radial-gradient(circle at top left, rgba(255, 0, 128, 0.25), transparent 35%),
        radial-gradient(circle at bottom right, rgba(128, 0, 255, 0.3), transparent 35%),
        linear-gradient(135deg, #080b2c, #180041, #3a006d);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow-x: hidden;
    padding: 40px 20px;
}

.container {
    width: 100%;
    max-width: 1400px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h2 {
    font-size: 2rem;
    font-weight: 500;
}

.header a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.card {
    width: 280px;

    background: rgba(255, 255, 255, 0.14);
    border: 1px solid rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(14px);
    border-radius: 28px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}
.card img {

    border: 2px solid #c96cff;
    border-radius: 30px;
    width: 100%;
    background: transparent;
    color: white;

    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;

    transition: all 0.3s ease;
}

.card-info{
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.card button{
    background: transparent;
    width: 50%;
    height: 30%;
    border-radius: 999px;
    color: white;
    border: 3px solid rgb(84, 23, 176);
}

.card button:hover {
    background: rgba(201, 108, 255, 0.15);
}

.dot {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    opacity: 0.85;
}

#dot1 {
    top: 30px;
    left: 10px;
    background: rgba(255, 255, 255, 0.61);
}

#dot2 {
    top: 75%;
    left: 10px;
    background: rgba(255, 255, 255, 0.61);
}

#dot3 {
    bottom: 30px;
    left: 10px;
    background: rgb(255, 255, 255);
    width: 10px;
    height: 10px;
}

#dot4 {
    top: 30px;
    right: 10px;
    background: rgba(255, 255, 255, 0.61);
}

#dot5 {
    top: 75%;
    right: 10px;
    background: rgba(255, 255, 255, 0.61);
}

#dot6 {
    bottom: 30px;
    right: 10px;
    background: rgb(255, 255, 255);
    width: 10px;
    height: 10px;
}